[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"

[packages]
pytz = "*"
python-slugify = "*"
rcssmin = "*"
argon2-cffi = "*"
whitenoise = "*"
redis = "*"
django-environ = "*"
django-model-utils = "*"
django-allauth = "*"
django-crispy-forms = "*"
django-redis = "*"
django-filer = "*"
django-jet = "*"
djangorestframework = "*"
coreapi = "*"
ipdb = "*"
psycopg2-binary = "*"
mypy = "*"
pytest = "*"
pytest-sugar = "*"
flake8 = "*"
coverage = "*"
django-debug-toolbar = "*"
django-extensions = "*"
pytest-django = "*"
Pillow = "*"
Django = "*"
django_compressor = "*"
Werkzeug = "*"
Sphinx = "*"
factory_boy = "*"
django_coverage_plugin = "*"
django-summernote = "*"

[requires]
python_version = "3.7"
